@model MLCS.ViewModel.CustomerViewModel

<table class="table-bordered table" id="tbl1">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            @*<th>Id</th>
        <th>ProductBillId</th>*@
            <th>Quentity</th>
            <th>Total</th>
            @*<th>ProductId</th>*@

        </tr>
    </thead>
    <tbody id="tbodyId">
        @{ 
            int count = 0;

            if (Model.ProductillDetailList.Count() != 0)
            {
                for (int i = 0; i < Model.ProductillDetailList.Count(); i++)
                {
                <tr>
                    <td>@Html.TextBox("ProductillDetailList[" + count + "].ProductName", Model.ProductillDetailList[count].ProductName)</td>
                    <td>@Html.TextBox("ProductillDetailList[" + count + "].price", Model.ProductillDetailList[count].price,new {@class="price" })</td>
                    <td hidden>@Html.TextBox("ProductillDetailList[" + count + "].Id", Model.ProductillDetailList[count].Id)</td>
                    <td hidden>@Html.TextBox("ProductillDetailList[" + count + "].ProductBillId", Model.ProductillDetailList[count].ProductBillId)</td>
                    <td>@Html.TextBox("ProductillDetailList[" + count + "].Quentity", Model.ProductillDetailList[count].Quentity, new {@class="quentity",@onchange="calculate(this)" })</td>
                    <td>@Html.TextBox("ProductillDetailList[" + count + "].Total", Model.ProductillDetailList[count].Total, new {@class="total",@onchange= "CaklculateTotalAmoount()" })</td>
                    <td hidden>@Html.TextBox("ProductillDetailList[" + count + "].ProductId", Model.ProductillDetailList[count].ProductId)</td>

                </tr>
                    count++;
                }
            }
            }
    </tbody>
</table>
<script>
    function calculate(input)
    {
        debugger;
        if (input != null) {
            var row = $(input).closest('tr');
            var price = parseFloat(row.find('.price').val()) || 0;
            var quantity = parseFloat(row.find('.quentity').val()) || 0;

            var total = price * quantity;
            row.find('.total').val(total.toFixed(2))
        }
        let totalAmount = 0;
        $("table > tbody > tr").each(function (i) {
            var Total = parseFloat($("#ProductillDetailList_" + i + "__Total").val());
            totalAmount += Total;
        })
        $("#TotalAmountId").val(totalAmount);
        }
</script>
